@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
:root {
  --primary-color: #FB4B4E; }

body {
  background: #031926;
  margin: 0;
  font-family: 'Poppins';
  color: #ECECEC; }

.navbar {
  background: #40283A;
  padding: 0 1em 0 1em;
  border-bottom: 10px solid #6D2E46;
  max-width: 100%; }
  .navbar .logo {
    text-decoration: none;
    font-weight: bold;
    color: #ECECEC;
    font-size: 3rem;
    margin-right: 20vw; }
    .navbar .logo span {
      font-size: 3.5rem;
      color: #FB4B4E; }
  .navbar ul {
    display: flex;
    list-style-type: none;
    margin-right: 0.5em; }
    .navbar ul li a {
      color: #ECECEC; }
    .navbar ul li a:hover {
      color: #FB4B4E; }
  .navbar a {
    color: black;
    font-size: 1.5em;
    padding: .1em 1em; }
  .navbar .container {
    display: flex;
    place-content: space-between;
    max-width: 100%;
    margin: 0; }
