@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

$highlight-color: #FB4B4E;
$highcontrast-color: #ECECEC;
$secondary-color: #6D2E46;

:root {
    --primary-color: $highlight-color;
}

body {
    background: #031926;
    margin: 0;
    font-family: 'Poppins';
    color: #ECECEC;
}

.navbar {
    background: #40283A;
    padding: 0 1em 0 1em;
    border-bottom: 10px solid $secondary-color;
    max-width: 100%;

    .logo {
        text-decoration: none;
        font-weight: bold;
        color: $highcontrast-color;
        font-size: 3rem;
        margin-right: 20vw;

        span {
            font-size: 3.5rem;
            color: $highlight-color;
        }
    }

    ul {
        display: flex;
        list-style-type: none;
        margin-right: 0.5em;

        li {
            a {
                color: #ECECEC;
            }

            a:hover {
                color: $highlight-color;
            }
        }
    }

    a {
        color: black;
        font-size: 1.5em;
        padding: .1em 1em;
    }

    .container {
        display: flex;
        place-content: space-between;
        max-width: 100%;
        margin: 0;
    }
}