<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CRUD</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/main.css"/>
</head>
<body>
    <header>
        <div class="navbar">
            <div class="container">
                <a class="logo" asp-area="" asp-controller="Home" asp-action="Index"><span class="navbar-brand-span">NESS</span>flix</a>

                <nav>
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link"  asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a id="characters-nav-link" class="nav-link"  asp-area="" asp-controller="Character" asp-action="Index">Characters</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link regions"  asp-area="" asp-controller="Region" asp-action="Index">Regions</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <div class="container">
            &copy; 2021 - CRUD - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

